<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Details</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link href="../stylesheets/meme/navbar.css" rel="stylesheet">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <div data-spy="scroll" data-target="#navbar" data-offset="0">
    <section class="container">
      <h1>Meme Details</h1>
        <div>
          <p>ID: <%= meme.id %></p>
          <p>Name: <%= meme.name %></p>
          <p>URL: <%= meme.url %></p>
          <p><img src="<%= meme.url %>" alt="<%= meme.name %>" style="max-width: 100%;"></p>
          <p>Dimensions: <%= meme.width %>px x <%= meme.height %>px</p>
        </div>
    </section>
  </div>
    <%- include('./partials/scripts.ejs') %>
    <script src="../js/custom.js"></script>
</body>
</html>