<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Details</title>
  <%- include('./partials/head.ejs') %>
  <link href="../stylesheets/meme.css" rel="stylesheet">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <div data-spy="scroll" data-target="#navbar" data-offset="0">
    <section class="container">
      <h1>Meme Details</h1>
        <div>
          <p><strong>ID:</strong> <%= meme.id %></p>
          <p><strong>Name:</strong> <%= meme.name %></p>
          <p><strong>URL:</strong> <a href="<%= meme.url %>"><%= meme.url %></a></p>
          <p><img src="<%= meme.url %>" alt="<%= meme.name %>" style="max-width: 100%;"></p>
          <p><strong>Dimensions:</strong> <%= meme.width %>px x <%= meme.height %>px</p>
        </div>
    </section>
  </div>
    <%- include('./partials/scripts.ejs') %>
    <script src="../js/custom.js"></script>
</body>
</html>