<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes Overview</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link href="../stylesheets/memes/navbar.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <div data-spy="scroll" data-target="#navbar" data-offset="0">
    <section class="container">
      <div class="row mb-3">
        <div class="col-auto">
          <input type="text" id="searchInput" class="form-control" placeholder="Search by name">
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" id="searchButton">Search</button>
        </div>
      </div>
      <table class="table table-bordered table-hover table-sm" id="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < memesData.length; i++) { %>
          <tr id="memeRow_<%= memesData[i].id %>" <% if (memesData[i].viewed) { %>class="viewed"<% } %>>
            <td><img src="<%= memesData[i].url %>" alt="<%= memesData[i].name %>" style="max-width: 20%;"></td>
            <td><%= memesData[i].name %></td>
            <td><button class="btn btn-primary details-button" data-meme-id="<%= memesData[i].id %>">Details</button></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </div>
    <%- include('./partials/scripts.ejs') %>
    <script src="../js/custom.js"></script>
</body>

</html>